<h1 class="text-3xl font-medium text-orange-500 text-center mb-6 flex justify-between items-center">

  <div>
    <span class="text-white">
      Alpine JS + Tailwind + DaisyUI Boilerplate
    </span>
  </div>

  <div class="dropdown dropdown-end w-12">
    <button x-cloak data-theme="light" tabindex="0" class="btn btn-circle">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>    
    </button>  
    <ul @click="document.activeElement.blur()" tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
      <li class="text-white uppercase py-2 px-4">Menu</li>
      <li x-show="$store.layout.view !== 'index'" @click="$store.layout.view = 'index'"><a>Page accueil</a></li>
      <li x-show="$store.layout.view !== 'contact'" @click="$store.layout.view = 'contact'"><a>Page contact</a></li>
      <div class="divider my-0"></div>
      <li @click="$store.layout.notify('Bonjour', 'info')"><a>Lance une notif</a></li>
      <li @click="modal.showModal()"><a>Lancer une modale</a></li>
    </ul>
  </div>
</h1>
<dialog id="modal" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold mb-6">Titre de la modale</h3>
    <div class="grid grid-cols-2 gap-4">
      Description, formulaire ou autre de la modale
    </div>
    <div class="text-right mt-6">
      <button
        class="btn bg-orange-500 text-white hover:bg-orange-800"
        @click="modal.close()"
      >
          Fermer la modale
      </button>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
