
<div x-data="gameData()" class="grid grid-cols-1 md:grid-cols-3 gap-6">
  <!-- Boucle sur les données -->
  <template x-for="item in games" :key="item.id">
    <div class="card w-full shadow-xl" :style="{ backgroundColor: '#' + item.color }">
      <figure class="p-4">
        <!-- <img src="./assets/pirate-image.png" alt=""> -->
        <img x-bind:src="`./assets/${item.color}`" alt="" style="height:550px">
        <img :src="$imgpirate + pirate-image.png" />
        <img :src="`./assets/  imgpirate`" />
        <img :src="`../${item.image}`" />

        <p x-text="imgpirate"></p>
        <img :src="'./assets/' + item.image" />
        <p x-text="item.image"></p>
      </figure>
      <div class="card-body p-4">
        <h2 class="card-title text-lg font-bold" x-text="item.name"></h2>
        <p x-text="item.description"></p>
      </div>
    </div>
  </template>
</div>

<script>
  function gameData() {
    return {
      games: [],
      imgpirate: './assets/',

      init() {
        // Effectuer une requête GET avec Axios
        axios.get('http://ec2-13-50-5-24.eu-north-1.compute.amazonaws.com:8055/items/games')
          .then(response => {
            // Mettre à jour les données avec la réponse
            this.games = response.data.data; // Ajuste ceci si nécessaire
            console.log(this.games)

          })
          .catch(error => {
            console.error('Une erreur s\'est produite lors de la récupération des données:', error);
          });

      }
    }
  }
</script>